@import "_bootstrap.min.scss";
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);

$color-white: #fff;
$color-white-2: #ebebeb;
$color-white-3: #d7d7d7;

$color-grey: #bcbcbc;
$color-purple: #353E5E;
$color-purple-2: #3B4462;
$color-red: #D5473E;

$color-light-grey: #ECF0F1;
$color-light-grey-2: rgb(225, 229, 230);

$color-green: #26B923;
$color-green-2: #21a51e;
$color-text: #313236;
$color-text-2: #57585c;

$screen-xs: 767px;
$screen-sm: 991px;
$screen-md: 1199px;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin border-top-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}
@mixin border-right-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	background-clip: padding-box;
}
@mixin border-left-radius($radius) {
	-webkit-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}

$screen-xs: 766px;
$screen-sm: 991px;
$screen-md: 1198px;

img {

}

.no-padding-left {
	@media screen and (min-width: 769px) {
		padding-left: 0 !important;
	}
}

.no-padding-right {
	@media screen and (min-width: 769px) {
		padding-right: 0 !important;
	}
}


/*--------------------------------------
	General
---------------------------------------*/
.homepage-intro-container {
	background: #E9EAF4 url(../../images/home-bg.jpg) center top fixed !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

header {
	background: rgba(0,0,0,0.65);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
	padding: .5em 0;

	.logo {
		img {
			width: 10em;
			margin-top: -.5em;

			@media screen and (max-width: $screen-xs) {
				width: 9em;
				margin-top: -.2em;
			}
		}
	}

	.menu {
		float: right;

		nav {
			ul {
				list-style-type: none;
				padding: 1.5em 0;
				margin: 0;
				li {
					display: inline-block;
					font-size: 1em;
					
					&.register {
						a {
							color: $color-text;
							background-color: #fff;

						}
					}

					a {
						padding: .7em 1.2em;
						color: $color-white-2;
						font-weight: 600;
						@include border-radius(2px);
						&:hover {
							color: $color-red;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	nav.navbar {
		background: none !important;
		border: none;
		box-shadow: none;
		text-shadow: none;

		a.navbar-brand {
			margin-left: 0;
		}

		button {
			span {
				background-color: rgba(255,255,255,.8) !important;
			}
		}

		ul.nav {
			margin-top: 1em;

			li {
				font-size: 1em;

				&.register {
					a {
						color: $color-text;
						background-color: #fff;

					}
				}

				a {
					padding: .4em .9em;
					color: $color-white-2;
					font-weight: 600;
					@include border-radius(2px);
					&:hover {
						color: $color-red;
						text-decoration: none;
					}
				}
			}
		}
	}
}

header.pages-header {
	background: #1C1B20;
	padding: .1em 0;

	nav.navbar {
		margin-bottom: 0;
	}

	.menu {
		nav {
			ul {
				li {

					&.register {
						a {
							background: none;
							color: $color-white-2;

						}
					}

					a {
						padding: .7em .9em;
						color: $color-white-2;
						font-weight: 600;
						&:hover {
							background-color: rgba(255,255,255,.05);
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	.disclaimer {
		h5 {
			font-size: 1.2em;
			font-weight: 400;
			line-height: 1.3em;
			color: #e8e8e8;

			span {
				color: $color-red;
			}
		}
	}
}

header.pages-header-2 {
	background: #1C1B20;
	padding: .1em 0;

	.logo {
		margin-top: 1.3em;
		margin-bottom: .5em;
		img {
			width: 18em;
		}
	}

	.menu {
		nav {
			ul {
				li {

					&.register {
						a {
							background: none;
							color: $color-white-2;

						}
					}

					a {
						padding: .7em .9em;
						color: $color-white-2;
						font-weight: 600;
						&:hover {
							background-color: rgba(255,255,255,.05);
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	.disclaimer {
		h5 {
			font-size: 1.2em;
			font-weight: 400;
			line-height: 1.3em;
			color: #e8e8e8;

			span {
				color: $color-red;
			}
		}
	}
}

.homepage-intro-container {
	border-bottom: 1px solid #d1d1d1;
	.intro-container-inner {
		padding: 4em 0 4em 0;
		text-align: center;

		@media screen and (max-width: $screen-xs) {
			padding: 0 0 .5em 0
		}

		h3 {
			font-weight: 400;
			display: inline-block;
			color: #fff;
			font-size: 4em;
			text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);

			@media screen and (max-width: $screen-xs) {
				font-size: 2.5em;
			}
		}

		h4 {
			color: #fff;
			font-weight: 400;
			font-size: 1.55em;
			text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
			margin-top: 0;

			@media screen and (max-width: $screen-xs) {
				display: none;
			}
		}
		
		.form-container {
			margin-top: 4em;
			overflow: hidden;

			@media screen and (max-width: $screen-xs) {
				margin-top: 1em;
			}

			.header {
				padding: .3em;
				text-align: center;
				background-color: #D5473E;
				@include border-top-radius(5px);

				h5 {
					font-size: 1.8em;
					color: $color-white;
				}
			}
			
			.body {
				padding: 2.2em 1.5em 0 1.5em;
				background-color: rgba(38,48,82,.8);
				border-right: 1px solid #D5473E;
				border-left: 1px solid #D5473E;
				border-bottom: 1px solid #D5473E;

				form {
					input {
						display: block;
						width: 100%;
						padding: .32em 1em;
						font-size: 2em;
						border:1px solid #e3e4ea;
						-webkit-box-shadow: none;
						box-shadow: none;
						height: 68px;

						@media screen and (max-width: $screen-xs) {
							height: auto;
							padding: .2em;
						}
					}
				}

				.btn-container {
					text-align: center;
					.btn {
						padding: .86em;
						width: 100%;
						font-weight: 600;
						margin-top: -1px;
						font-size: 1.45em !important;
						@include border-radius(0);

						i {
							margin-right: .3em;
						}

						@media screen and (max-width: $screen-xs) {
							height: auto;
							padding: .5em;
							width: 80%;

							margin-top: .5em;
							@include border-radius(5px);
						}
					}
				}
			}

			.disclaimer {
				p {
					padding: .5em;
					text-align: center;
					color: $color-white;
					font-weight: 600;
				}
			}
		}
		
		.count-users {
			text-align: center;
			margin-top:1.2em;

			h4 {
				font-size: 2em;

			}

			span.number {
				font-family: 'Roboto Condensed', sans-serif;
				font-size: 2.2em;
				font-weight: 700;
				width: 2em;
				padding: .2em .35em;
				border: 1px solid #cccccc;
				color: #000;
				@include  border-radius(5px);

				background: rgba(255,255,255,1);
				background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(194,194,194,1) 50%, rgba(255,255,255,1) 51%, rgba(194,194,194,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(194,194,194,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(51%, rgba(194,194,194,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(194,194,194,1) 50%, rgba(255,255,255,1) 51%, rgba(194,194,194,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(194,194,194,1) 50%, rgba(255,255,255,1) 51%, rgba(194,194,194,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(194,194,194,1) 50%, rgba(255,255,255,1) 51%, rgba(194,194,194,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(194,194,194,1) 50%, rgba(255,255,255,1) 51%, rgba(194,194,194,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );


				-webkit-box-shadow: 2px 6px 14px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 2px 6px 14px 0px rgba(0,0,0,0.75);
				box-shadow: 2px 6px 14px 0px rgba(0,0,0,0.75);

				@media screen and (max-width: $screen-xs) {
					font-size: 1.5em;
				}

			}

			span.comma {
				font-family: 'Roboto Condensed', sans-serif;
				font-size: 2.2em;
				font-weight: 600;
				width: 2em;
				padding-right: .1em;
				padding-left: .1em;;
				color: #fff;

			}

			span.and-counting {
				display: block;
				text-align: center;
				color: #fff;
				font-size:  1.2em;
			}
		}
	}
}

.section {
	padding: 5em 0;

	@media screen and (max-width: $screen-xs) {
		padding: 1em 0;
	}

	.section-title {
		text-align: center;

		h2 {
			font-size: 2.5em;
			color: #6dac45;
			@media screen and (max-width: $screen-xs) {
				font-size: 2em;
			}
		}

		h3 {
			font-size: 1.2em;
			
		}
	}
}

.adventage {
	padding: 6em 0 4em 0;
	overflow: hidden;

	@media screen and (max-width: $screen-xs) {
		padding: 2em 0 2em 0
	}

	.section-title {
		h2 {
			color: $color-text;
			font-size: 3em;
			@media screen and (max-width: $screen-xs) {
				font-size: 2.3em;
			}

		}

		h3 {
			color: $color-text;
			margin-top: 0;
			font-size: 1.6em;

			@media screen and (max-width: $screen-xs) {
				font-size: 1.5em;
			}
		}
	}

	.description {
		h3 {
			font-size: 2em;
			color: #6dac45;
		}

		p {
			font-size: 1.4em;
			color: $color-text;;
		}

		ul {
			padding: 0;
			margin: 0;
			li {
				font-size: 1.5em;
				margin-bottom: .8em;
				height: 20px;
				color: $color-text;
				@media screen and (max-width: $screen-xs) {
					height: auto;
				}


				img {
					width: 1.2em;
					margin-right: .5em;
				}
			}
		}


		.img-container {
			margin-top: 1.5em;
			position: relative;

			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 800px;
			}
		}
	}
}

.why-use {
	width: 100%;
	padding: 0;
	margin: 0;

	.inner {
		background: rgba(0,0,0,.70) url("../../images/brilliant.png") repeat;
		padding: 9em 0;

		@media screen and (max-width: $screen-xs) {
			padding: 2em 0;
		}

		.section-title {
			margin-bottom: 4em;
			margin-top: 0;
			h2 {
				color: $color-white;
				font-weight: 400;
				font-size: 3em;

				@media screen and (max-width: $screen-xs) {
					font-size: 2.3em;
				}
			}
		}

		.element {
			text-align: center;

			img {
				width: 7em;
				margin-bottom: 1em;
			}

			h5 {
				color: $color-white;
				text-transform: uppercase;
				font-weight: 600;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
			}

			p {
				color: $color-white-2;
				font-size: 1.3em;
			}
		}
	}
}

.instant-check {
	background: #ffffff;
	padding: 3em 0;

	.inner {
		padding: 2em 0;
		background: url("../../images/ag-square.png") repeat;
	}

	.section-title {
		h2 {
			color: $color-text-2;
			margin-bottom: 1.5em;
			font-weight: 600;
		}
	}

	.form-container {

		.header {
			padding: .3em;
			text-align: center;
			background-color: #D5473E;
			@include border-top-radius(5px);

			h5 {
				font-size: 1.8em;
				color: $color-white;
			}
		}

		.body {
			padding: 2.2em 1.5em 2.2em 1.5em; 
			background-color: rgba(38,48,82, .9);
			position: relative;

			form {
				input {
					display: block;
					width: 100%;
					padding: .32em 1em;
					font-size: 2em;
					border:1px solid #e3e4ea;
					-webkit-box-shadow: none;
					box-shadow: none;
					height: 68px;

					@media screen and (max-width: $screen-xs) {
						height: auto;
						padding: .2em;
					}
				}
			}

			.btn-container {
				text-align: center;
				.btn {
					padding: .86em;
					width: 100%;
					font-weight: 600;
					margin-top: -1px;
					font-size: 1.45em !important;
					@include border-radius(0);

					i {
						margin-right: .3em;
					}

					@media screen and (max-width: $screen-xs) {
						height: auto;
						padding: .5em;
						width: 80%;

						margin-top: .5em;
						@include border-radius(5px);
					}
				}
			}
		}

		.uncover {
			position: absolute;
			bottom: -2em;
			right: 1.5em;
			background-color: $color-red;
			padding: .2em .5em;
			h6 {
				color: $color-white;
			}

			img {
				position: absolute;
				top: -1em;
				left: 1em;
			}

		}
	}
}

.users-say {
	background: #1c1b20 url("../../images/users-say-bg.jpg") bottom center no-repeat;
	.section-title {
		margin-bottom: 2em;
		h2 {
			color: $color-white-2;
			font-weight: 600;
		}
	}
	
	blockquote {
		color: $color-white;
		margin-bottom: 7em;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: center;
		position: relative;
		font-size: 1.5em;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
		position: relative;
		border: none;
		
		img {
			position: absolute;
			//right: 2em;
			//bottom: -1.7em;
			//
			&#left {
				top: 1.3em;
				left: -1.3em;
			}

			&#right {
				top: 1.5em;
				right: -1.3em;

			}
		}
	}
}

.faq {
	background: #fff;
	padding-top: 2em;

	.section-title {
		margin-bottom: 2em;

		h2 {
			color: $color-text-2;
			text-align: left;
			line-height: 1.4em;
		}

		.img-container	{
			text-align: left;
			margin-top: 1.8em;

			img {
				width: 8em;
			}
		}
	}

	.element {
		h5 {
			font-size: 1.6em;
			line-height: 1.7em;
			font-weight:600;

		}
		
		p {
			font-size: 1.2em;
			text-align: justify;
		}

		.line {
			height: 50px;
			width: 1px;
			background-color: grey;
			position: absolute;
		}
		
		.left-line {
			left:  0;
			bottom: 0px;
		}

		.right-line {
			right:  0;
			bottom: 0px;
		}
	}
}

footer {
	background-color: #1c1b20;
	padding: 4em 0 1em 0;

	.top{
		border-bottom: 1px solid #28272c;
	}

	.element {
		padding-bottom: 2em;

		h6 {
			font-size: 1.2em;
			text-transform: uppercase;
			font-weight: 600;
			color: $color-white-2;
		}

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;

			li {
				a {
					color: $color-white-3;
					display: block;

					&:hover {
						color: $color-white;
						text-decoration: none;
					}
				}
			}
		}

		p {
			color: #afb0b6;
		}
	}


	.credits {
		text-align: center;
		padding-top: 1em;
		img {
			opacity:.5;
			width: 16em;
		}
	}
}

.page {
	background-color: #fff;
	.header {
		h1 {
			font-size: 3em;
			color: $color-text-2;

		}

		h2 {
			font-size: 1.8em;
			margin-top: 0;
			color: $color-text-2;
		}
	}

	.body {
		padding-top: 1em;
		h4 {
			font-size: 1.3em;
		}
	}
}

.contact-page {
	.body {
		.form-container {
			background-color: #ECF0F1;
			margin-top: 1em;
			padding: 1em;

			form {

				label {
					text-align: left;
					font-weight: 600;
					text-transform: uppercase;

					span {
						display: block;
						text-transform: none;
						font-weight: 400;
					}
				}

				input[type="text"]{
					display: block;
					width: 100%;
					padding: 1.35em 1em;
					background-color: #fff;
					border: 2px solid #e1e5e6;
					-webkit-box-shadow: none;
					box-shadow: none;
					@include border-radius(3px);
				}

				textarea {
					display: block;
					width: 100%;
					padding: .5em 1em;
					background-color: #fff;
					border: 2px solid #e1e5e6;
					-webkit-box-shadow: none;
					box-shadow: none;
					@include border-radius(3px);
				}

				select {
					display: block;
					width: 100%;
					background-color: #fff;
					height: 45px;
					padding-left: .75em;
					border: 2px solid #e1e5e6;
					-webkit-box-shadow: none;
					box-shadow: none;
					@include border-radius(3px);
				}
			}
		}

		.working-time-container {
			background-color: #ECF0F1;
			margin-top: 1em;
			margin-bottom: 1em;
			padding: 1em;

			.header {
				h2 {
					font-size: 1.5em;
				}
			}

			.body {
				h3 {
					font-size: 1.3em;
					margin-top: 0;
				}
			}
		}
	}
}

.register-page {
	background-color: $color-light-grey;
	padding-top: .2em;
	padding-bottom: 1em;

	.inner {
		padding-top: 2em;
		padding-bottom: 2em;
		border-right: 2px solid $color-light-grey-2;
		border-left: 2px solid $color-light-grey-2;
		border-bottom: 2px solid $color-light-grey-2;
		background: #fff url(../../images/register-bg.jpg) center top no-repeat;
	}

	img {
		max-width:  100%;
	}

	.page-title {
		margin-bottom: 1.8em;
		text-align: center;

		h1 {
			margin-top: 0;
			font-size: 2.5em;
			font-weight: 700;
			color: #fff;
			text-transform: uppercase;
			text-shadow: 2px 5px 2px rgba(0, 0, 0, .8);

			img {
				width: 1em;
				margin-top: -.3em;
				margin-right: .3em;
			}
		}
	}

	.intro {
		background: #ECF0F1 url("../../images/black-twill.png") repeat;
		border: 5px solid #fff;
		border-bottom: none;
		padding: 1.0em 1em;
		//border: 2px solid $color-light-grey-2;
		//border-bottom: 0;
		position: relative;
		overflow: hidden;
		h3 {
			margin-top: 0;
			line-height: 1.6em;
			padding: 0;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 1.5em;

		}

		p {
			padding: .5em 1.2em 0 1.2em;
			font-size: 1.2em;
			margin-bottom: 0;
			color: #000;

			img {
				margin-top: -.3em;
				margin-right: .2em;
			}
		}
	}

	.body {
		padding: 0 1em .5em 1em;
		background: #ECF0F1 url("../../images/black-twill.png") repeat;
		border: 5px solid #fff;
		border-top: none;
		//border: 2px solid $color-light-grey-2;
		//border-bottom: 0;
		position: relative;
		overflow: hidden;

		ul {
			list-style-type: none;
			padding: 0em 1em;
			margin: 0;

			li {
				display: inline-block;
				font-size: 1.1em;
				color: #000;

				&.icon-container {
					img {
						width: 1.1em;
						margin-top: -.2em;
						margin-right: .5em;
					}
				}
			}
		}

		.item {
			margin-bottom: .5em;
		}
	}

	.testimonials {
		//background-color: $color-light-grey;
		//border: 2px solid $color-light-grey-2;
		margin-top: 1em;
		padding: 1em;

		.row {
			margin-bottom: 3em;
		}
		
		.icon-container {
			text-align: right;
			img {
				width: 5em;
			}
		}

		h5 {
			margin: 0 0 .5em 0;
			font-size:  1.5em;
			color: $color-purple;
		}

		p {
			color: #000;
			margin-bottom: 0;
			font-size: 1.1em;
		}
		
		small {
			text-align: right;
			float: right;
			color: #000;
			font-size: 1em;
		}
	}

	.product-selection {
		margin-bottom: 1em;
		background: none;

		@media screen and (min-width: $screen-xs) {
			border: 7px solid #fff;
		}

		.header {
			background-color: $color-purple;
			padding: 1em;
			
			h3 {
				margin: 0;
				color: #fff;
				font-size: 1.8em;
			}
		}

		.body {
			background: none;
			border: 0;
			margin: 0;
			padding: 0;


			input {
				display: none;
			}

			label {
				display: block;
				clear: both;
				width: 100%;
				margin-bottom: 0;
			}

			.first {
				padding: 1.6em 0 !important;

				h4 {
					margin-top: 0;
				}

				.best-deal {

					@media screen and (min-width: $screen-xs) {
						position: absolute;
						right: 30%;
						top: 1em;
					}

					@media screen and (max-width: $screen-xs) {
						text-align: center;
						margin-bottom: 1em;
					}
				}

			}

			.product-element {
				padding: 1.45em 0;
				border-right: 1px solid rgba(0,0,0,.1);
				border-left: 1px solid rgba(0,0,0,.1);
				border-bottom: 1px solid rgba(0,0,0,.1);
				background-color: #fff;

				&:hover {
					cursor: pointer;
					background-color: #fcfccc;;
				}

				@media screen and (max-width: $screen-xs) {
					text-align: center;
				}

				.title {
					h4 {
						margin-bottom: 0;

						span.label {
							@include border-radius(100px);
							padding-top: 2.2em;
							padding-bottom: 2.2em;

						}
					}

					small {
						margin-top: 0;
					}
				}

				.icon-container {
					text-align: center;
					img.checked {
						display: none;
					}
				}


				.title {
					h4 {
						font-weight: 600;
					}
				}

				.price {
					h4 {
						font-weight: 600;
						border-bottom: 2px solid rgba(255,255,255, 0);
					}
				}

			}
		}

		input[type="radio"]:checked + label {
			.product-element {
				background-color: $color-light-grey;
			}

			.icon-container {
				text-align: center;

				img.checked {
					display: block;
					margin: 0 auto;

				}

				img.unchecked {
					display: none;
				}
			}

			.price {
				h4 {
					border-bottom: 2px solid $color-green;
					display: inline-block;
				}
			}
		}
	}

	.form-container	{
		background-color: rgba(28, 118, 220, 0.23);
		border: 1px solid rgba(28, 118, 220, 0.23);

		@media screen and (min-width: $screen-xs) {
			border: 7px solid #fff;
		}


		.order-securely {
			background-color: $color-purple;
			padding: 1em;

			h3 {
				margin: 0;
				color: #fff;
				font-size: 1.8em;

				img {
					width: 3.5em;
					margin-top: .25em;
					margin-left: .25em;
				}
			}
		}

		.form {

			padding: 1em;

			ul.nav-tabs {
				margin-bottom: 1em;
				li {
					float: left;
					width: 50%;
					text-align: center;

					a {
						padding: .95em;
						font-size: 1.2em;
						color: $color-white-3;

						-webkit-box-shadow: inset 0 -0px 0 #304047;
						box-shadow: inset 0 0px 0 #304047;
						border-bottom: 2px solid #a9a9a9;

						img {
							width: 5em;
						}
					}

					&.active {
						a {
							background-color: #39464D;
							border-bottom: 2px solid #ebebeb;
						}
					}
				}
			}

			.paypal {
				padding: 4em 2em;
				text-align: center;

				img {
					width: 25em;

					&:hover {
						opacity: .8;
					}
				}
			}

			.terms {
				padding: 1.5em 1.5em .5em 1.5em;
				margin-bottom: 0;

				p {
					color: $color-purple;
					font-size: 1em;
				}
				
				label {
					input[type="checkbox"] {
						color: red;
						margin-top: .3em !important;
						margin-right: 1em;
					}
				}
			}

			.form-group {
				span {
					font-weight: 600;
					text-transform: uppercase;
					color: $color-purple;
				}

				img.card-list {
					display: inline-block;
					margin-top: -1.2em;
					margin-bottom: .2em;
				}

				input {
					border: 1px solid rgba(28, 118, 220, 0.65);
					padding: .5em ;
					height: auto;
					background-color: rgb(255, 255, 255);
					width: 100%;
					color: $color-purple;
					font-weight: 600;
					-webkit-box-shadow: inset 0 0px 0 #304047;
					box-shadow: inset 0 0px 0 #304047;

					&:focus {
						border: 1px solid $color-purple;
					}

					@media screen and (max-width: $screen-xs) {
						height: auto;
						padding: .2em .5em;
					}
				}

				::-webkit-input-placeholder {
					color: $color-purple;
				}

				:-moz-placeholder { /* Firefox 18- */
					color: $color-purple;
				}

				::-moz-placeholder {  /* Firefox 19+ */
					color: $color-purple;
				}

				:-ms-input-placeholder {
					color: $color-purple;
				}

				input[type="checkbox"] {
					margin: 0;
					padding: 0;
					background: none;
					border: none;
					height: auto;
					display: inline-block;
					float: left;
					width: auto;
				}

				select {
					border: 1px solid rgba(28, 118, 220, 0.65);
					background-color: rgb(255, 255, 255) !important;
					color: $color-purple;
					padding-left: .65em;
					height: 45px;
					-webkit-box-shadow: inset 0 0px 0 #304047;
					box-shadow: inset 0 0px 0 #304047;
					width: 100%;

					@media screen and (max-width: $screen-xs) {
						height: 40px;
						padding: .2em .5em;
					}
				}


				.btn {
					font-size: 1.2em;
					text-transform: none;
					font-weight: 600;
					padding: .7em  3em;
					margin-bottom: .3em;
					display: block;
					width: 100%;

				}

				img {
					display: block;
					margin: 1em auto 0 auto;
					width: 15em;
					padding-top: 1em;
				}


			}
		}
	}

	.convince {
		padding: 0em 0;
		margin-top: 1em;
		border-top: 1px solid rgba(53, 62, 94, 0.27);
		text-align: center;

		h2 {
			text-align: center;
			font-size: 1.7em;
			font-weight: 600;
		}

		p {
			margin: 0;
			font-size: 1em;
		}
		.element {
			text-align: center;

			img {
				width: 20em;
				margin: 1em auto 0 auto;
				display: block;
				padding: .5em;
			}
		}
	}
}

.product-selection-page {
	.inner {
		.page-title {
			h1 {
				i {
					color: $color-green;
				}
			}
		}

		.intro {
			table {
				tr {
					td {
						border: none;
						padding: .2em;
						color: #000;
						font-size: 1.15em;

						&.key {}

						&.value {
							font-weight: 600;
							img {
								height: 1.3em;
							}
						}
					}
				}
			}
		}
	}
}

.teaser-page {
	padding: 1em 0;
	background: #E9EAF4 url(../../images/loader-bg.jpg) center top fixed !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	.inner {
		overflow: hidden;
		background-color: #fff;
	}

	.page-title {
		text-align: center;
		padding: 1em;
		margin-top: .5em;
		background-color: #fff;


		h1 {
			margin: 0;
			font-size: 2.5em;
			font-weight: 700;
			text-transform: uppercase;
			//text-shadow: 0px 0px 2px rgba(255, 249, 249, 1);

			i {
				color: $color-green;
			}

			span {
				color: $color-green;
			}

			@media (max-width: $screen-xs) {
				font-size: 1.8em;
			}
		}
	}
	
	.report-details {
		margin-top: 1em;
		background-color: $color-light-grey;
		border: 2px solid $color-light-grey-2;
		padding: 1em;

		#googlemap {
			width: 100%;
			height: 400px;
			z-index: 0;
			left: 0;
			bottom: 0;
			position: absolute;

			@media (max-width: $screen-xs) {
				height: 100%;
			}
		}

		.img-container {
			//img {
			//	border: 2px solid $color-purple;
			//
			//}
		}

		.btn-container {
			margin-top: .0em;
			@media (max-width: $screen-xs) {
				text-align: center;
			}


			.btn {
				font-size: 1.4em;
				line-height: 1.8em;
				text-transform:  none;
				padding: .7em 1.3em;
				display: block;

				span {
					font-size: 1.7em;
				}

				@media (max-width: $screen-xs) {
					padding-right: 2em;
					padding-left: 2em;
					font-size: 1.1em;
				}
			}
		}
	}

	.folder-details {
		background: #E9EAF4 url(../../images/teaser-alt.jpg) center right no-repeat;
		padding: 2em;
		overflow: hidden;

		@media (max-width: $screen-xs) {
			padding: 0;
		}

		.inner {
			background: none;
			border: none;
			padding-top: 1em;
			padding-bottom: 1em;
			z-index: 999;

		}
		.icon-container {
			padding: 1em;

			img {
				max-width: 100%;
				margin-top: 3em;
				background-color: rgba(38,48,82,.6);
				padding: 1em;
				@include border-radius(2px);
			}
		}

		.table {
			background-color: rgba(38,48,82,.85);
			@include border-radius(2px);
			margin: 0;
			tr {
				td {
					border: none;
					font-size: 1.2em;
					padding: .18em .4em;
					color: #fff;

					&.value {
						font-weight: 600;
					}

					i {
						color: $color-green;
					}

					img {
						height: 1.7em;
						margin-left: -.45em;
					}

					a {
						color: #fff;
						font-weight: 600;
					}
				}
			}
		}
	}

	p.disclaimer-text {
		margin: 0 0 .5em 0;
		padding: .4em 0 .4em 0;
		text-align: center;
		color: #404040;
		background-color: #fff;
		font-size: 1.2em;
		border: 1px solid rgba(0,0,0,.1);
	}

	.product-details {
		.header {
			span.top {
				background-color: #4CAF50;
				color: #fff;
				padding: .5em 1em;
				@include border-top-radius(10px);
				border: 2px solid $color-light-grey-2;
				
			}

			.bottom {
				margin-top: .18em;
				input {
					display: none;
				}


				label {
					width: 100%;
					display: block !important;
				}
				
				.product-element {
					width: 100%;
					background-color: #fff;
					border: 2px solid $color-light-grey-2;
					@include border-bottom-radius(10px);

					@media (max-width: $screen-xs) {
						text-align: center;
					}

					.icon-container {
						text-align: center;
						padding: 1em;
						i {
							color: $color-green;
						}
						img	{
							width: 3em;
						}
					}

					.title {

						@media (max-width: $screen-xs) {
							text-align: center;
						}
						h4 {
							font-weight: 600;
							font-size: 2.5em;
							span {
								text-transform: uppercase;
							}
						}
					}
				}
			}
		}
	}

	.satisfaction {

		@media (max-width: $screen-sm) {
			text-align: center;
		}

		h4 {
			color: #1a1a1a;
			font-size: 2em;
			font-weight: 600;

			@media (max-width: $screen-xs) {
				text-align: center;
			}

		}

		.img-container {
			img {
				border: none;
				width: 100%;

				@media (max-width: $screen-sm) {
					width: 10em;
				}
			}
		}

		.element {
			p {
				color: #000;
			}
		}
	}

	.disclaimer {
		background-color: #fff;
		border: 1px solid $color-red;
		padding: 1.5em;
		margin-top: 2em;
		position: relative;
		@include border-radius(5px);



		p {
			margin: 0;
			color: #262626;
			font-size: 1.1em;
			text-align: left;

			@media (max-width: $screen-xs) {
				text-align: center;
			}
		}

		.img-container {
			text-align: right;
			@media (max-width: $screen-xs) {
				text-align: center;
			}
			img {
				width: 6em;
			}

		}
		img.absolute {
			position: absolute;
			left: -1.5em;
			top: 2em;
		}
	}

	.been-featured {
		text-align: center;
		padding: 1em;
		margin-top: 2em;

		h2 {
			margin: 0;
			font-size: 2em;
			text-transform: uppercase;
			font-weight: 600;
			color: #6b6e72;
		}

		.img-container {
			margin-top: 2.5em;

			img {
				width: 40em;
				opacity: .5;
			}
		}
	}
}

.report-sample-page {
	.page-title {
		h1 {
			i {
				color: $color-green;
			}
		}
	}

	.download {
		text-align: right;
		position: relative;

		.btn {

			i {
				font-size: 1.5em;
			}



			@media screen and (min-width: $screen-xs) {
				position: absolute;
				top: -5.3em;
				right: 1em;
			}

			@media screen and (max-width: $screen-sm) {
				top: 1.5em;
				right: 10%;
				z-index: 999;
			}
		}
	}

	.intro {

		table {
			tr {
				td {
					border: none;
					padding: .2em;
					color: #000;
					font-size: 1.15em;

					&.key {}

					&.value {
						font-weight: 600;
						img {
							height: 1.3em;
						}
					}
				}
			}
		}
	.warning-disclaimer {
		padding: .5em;
		margin-top: .5em;

		p {
			font-size: 1.05em;
			padding: .5em;

			span {
				font-weight: 600;
				color: $color-red;
				}
			}
		}

		i {
			text-align: center;
			font-size: 4em;
			margin-top: .08em;
			color: $color-red;
		}

	}

	.body {
		border: none;
		padding: 0;
		background: none;


		@media screen and (min-width: $screen-xs) {
			height: 850px;
			overflow-y: scroll;
		}

		h3 {
			font-size: 1.5em;
			margin-top: 1em;
		}

		.table {
			tr {
				td {
					border: none;
					padding: .7em .3em;
					font-size: 1.1em;

					&.key {
						font-weight: 600;

						i {
							color: $color-green;
						}
					}
				}
			}
		}

		.section {
			margin: 0;
			padding: 0;
			h6 {
				margin: 0;
				font-weight: 600;
				font-size: 1.1em;
				i {
					color: $color-red;
				}
			}
		}


		.publications {
			h6 {
				margin-bottom: 1em;

				i {
					color: $color-green;
				}
			}

			.element {
				margin-bottom: .3em;
				h3 {
					font-size: 1.3em;
					margin-top: 0;
				}
			}
		}
	}

	.map-container {
		border: 4px solid $color-white;
	}

	.social-profiles {
		@media screen and (min-width: $screen-xs) {
			height: 760px;
			overflow: hidden;
			overflow-y: scroll;
		}

		h3 {
			font-size: 1.5em;
			margin-top: 1em;
		}

		.element {
			margin-bottom: 1em;
			padding-bottom: 1em;
			border-bottom: 1px solid rgba(0,0,0,.1);
			h5 {
				margin-top: 0;
			}
		}
	}

}

.sample-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:999;
	text-align: center;

	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(35%, rgba(0,0,0,0.35)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
	h3 {
		margin-top: 20%;
		display: inline-block;
		border: 1px solid #fff;
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 6em;
		text-shadow: 1px 1px #000;
		padding: .2em;
		background-color: rgba(0,0,0,.2);

		@media (max-width: $screen-xs) {
			font-size: 3em;
			background-color: rgba(0,0,0,.9);
		}

	}
}

.sample-body {
	overflow: hidden;
}

.validate-page {

	#modal-register {
		background: rgba(255,255,255,0);
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,1)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
	}


	.modal-dialog {
		@media (min-width: 768px) {
			width: 800px;
		}
	}

	.modal {
		.modal-header {
			background-color: $color-red;
			text-align: center;

			img {
				width: 6.5em;
				margin-top: .7em;
			}

			h3 {
				color: $color-white;
				font-size: 2.4em;
				text-transform: uppercase;
				margin: .25em 0 0 0 ;
				font-weight: 600;

				span {
					font-size: .57em;
				}
			}
		}

		.modal-body {
			background-color: #ECF0F1;
			text-align: center;
			padding-bottom: 0;

			h3 {
				margin: 0;
			}

			p {
				margin: 0 0 .5em 0;
				font-size: 1.3em;
				color: #292929;
				font-family: Arial;
				line-height: 1.5em;

				span.bolder {
					color: $color-red;
					font-weight:bold;
				}
			}

			.form-container-modal {
				.form-group {
					label {
						text-align: left;
						text-transform: uppercase;
					}

					input[type="text"]{
						border: 2px solid $color-light-grey-2;
						display: block;
						width: 100%;
						padding: .6em .5em;
						height: auto;
						background-color: #fff;
						-webkit-box-shadow: none;
						box-shadow: none;
						@include border-radius(3px);
						color: #000;
					}

					input[type="checkbox"]{
						display:inline-block;
						margin-right: 1em;
					}

					::-webkit-input-placeholder {
						color: #1f1f1f;
					}

					:-moz-placeholder { /* Firefox 18- */
						color: #1f1f1f;
					}

					::-moz-placeholder {  /* Firefox 19+ */
						color: #1f1f1f;
					}

					:-ms-input-placeholder {
						color: #1f1f1f;
					}

					
					h4 {
						text-align: left;
						font-size: 1.5em;
					}

					label {
						font-size: .95em;
						text-transform: none;
						@media screen and (max-width: $screen-xs) {
							font-size: 1.1em;
						}


					}

					p {
						text-align: left !important;
						font-size: 1.2em;
						margin-bottom: 0;
					}

					.left {
						float: left;
						width: 5%;
						text-align: left !important;

						@media screen and (max-width: $screen-xs) {
							width: 10%;
						}
					}
					
					.right {
						float: left;
						width: 95%;
						font-family: Arial;
						line-height: 1.5em;
						font-size: 1.2em;

						@media screen and (max-width: $screen-xs) {
							width: 90%;
						}
					}
				}
			}
		}

		.modal-footer {
			text-align: center;
			padding-top: 0;
			.btn {
				padding: .5em  1em;
				font-size: 1.5em;
				width: 100%;

				@media screen and (max-width: $screen-xs) {
					display: inline-block;
					width: auto;
					font-size: 1.3em;
				}
			}

			p {
				margin-top: .8em;
				font-size: 1em;
				color: #252525;
			}
		}
	}

	.modal-dialog {
		@media (min-width: 1610px) {
			margin-top: 150px;
		}
	}
}

.warning-lightbox-page {
	.modal {
		.modal-header {
			background-color: $color-red;
			text-align: center;

			img {
				width: 6.5em;
				margin-top: .7em;
			}

			h3 {
				color: $color-white;
				font-size: 1.5em;
				text-transform: uppercase;
				margin: .25em 0 0 0 ;

				span {
					font-size: 1.8em;
					font-weight: 600;
				}
			}
		}

		.modal-body {
			text-align: center;
			h3 {
				margin: 0;
			}

			p {
				margin-top: 1em;
				margin-bottom: 0;
				font-size: 1.2em;

				&.disclaimer {
					background-color: $color-light-grey;
					padding: .5em;
					border: 1px solid $color-light-grey-2;

					i {
						font-size: 2em;
					}
				}
			}
		}
		
		.modal-footer {
			text-align: center;
			.btn {
				padding: .5em  1em;
				font-size: 1.5em;
			}
		}
	}

	.modal-dialog {
		padding-left: 0 !important;

		@media (min-width: 768px) {
			margin-top: 100px;
		}
	}
}

.modal-backdrop {
	background-color: rgba(0,0,0,1);
}

.faq-page {

	img {
		max-width: 100%;
	}
	.header {
		h1 {
			text-align: center;
			color: $color-white;
			text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.56);
		}
	}
	
	.inner-top {
		background: #E9EAF4 url(../../images/faq-bg.jpg) center bottom fixed !important;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	.body {
		.top {
			margin-bottom: 1em;

			.form-container {
				margin-bottom: 1em;
				border-bottom: 1px solid rgba(255,255,255,.1);
				.form-group {
					margin-top: 2em;
					margin-bottom: 2em;

					input[type="text"]{
						display: block;
						width: 100%;
						padding: .45em 1em;
						min-height: 43px;
						background-color: #fff;
						-webkit-box-shadow: none;
						box-shadow: none;
						@include border-radius(3px);
					}

					.btn {
						display: block;
						width: 100%;
						height: 43px;
					}

				}
			}
			a {
				color: $color-light-grey;
			}

			.element {
				padding: 1em 0.5em;
				@media screen and (max-width: $screen-xs) {
					text-align: center;
				}


				h3 {
					color: $color-white;
					text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.56);

					@media screen and (max-width: $screen-sm) {
						text-align: center !important;
					}
				}

				p {
					@media screen and (max-width: $screen-sm) {
						text-align: center !important;
					}
				}

				&:hover {
					background-color: rgba(0,0,0,.3);
					h3 {
						color: $color-white;
					}

					p {
						color: $color-white;
					}
				}

				.icon-container {
					text-align: center;

					img {
						@media screen and (max-width: $screen-sm) {
							width: 5em;
						}
					}
				}
			}


			.content-container {
				h3 {
					font-size: 2em;
					margin-bottom: .2em;
					margin-top: 0;
				}

				p {
					margin-bottom: 0;
				}
			}

			.disclaimer {
				text-align: center;
				margin-top: 2em;

				h4 {
					font-size: 1.5em;
					color: $color-white-2;
				}

				p {
					font-size: 1.1em;
					color: $color-white;
				}
			}
		}

		.main {
			margin-top: 2em;

			.panel-group {
				.panel {
					box-shadow: none;
					border: 1px solid $color-light-grey;
					margin-top: 0;
					.panel-heading {
						@include border-radius(0);
						background-color: $color-light-grey;
						color: $color-purple;
						padding: 0;

						a {
							display: block;
							padding: 1em .5em;
							color: #000;
							
							&:hover {
								background-color: $color-light-grey-2;
								text-decoration:  none;
							}
						}
					}

					.panel-body {
						@include border-radius(0);
						box-shadow: none;
						p {
							font-size:  1.1em;
							color: #000;
						}
					}
				}
			}

			.sidebar {
				.element {
					margin-bottom: 2em;

					h3 {
						font-size: 1.3em;
						margin: 0 0 .5em 0;
						border-bottom: 1px solid $color-light-grey;
						color: $color-red;
						padding-bottom: .3em;
					}

					ul {
						list-style-type: none;
						padding: 0;
						margin: 0;
					}

					p {
						font-size:  1.1em;
					}

					.btn {
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
}

.faq-page-instant-check {
	border-top: 1px solid $color-light-grey;
	background: none;
	
	.inner {
		background: none;
	}
}

footer.teaser {
	.element {
		p {
			text-align: center;
			color: #717075;
		}
	}
}

.login-page-container {
}

.login-page {
	background: #fff url(../../images/login-bg-2.jpg) center center;


	.element-col {
		@media screen and (max-width: $screen-xs) {
			padding-right: 0 !important;
			padding-left: 0 !important;
		}
	}

	.page-container {
		margin: 10em auto;
		text-align: center;
		height: 400px;
		width: 230px;
		display: block;
		background-color: #3B4462;
		border: 1px solid #868686;
		position: relative;

		@media screen and (max-width: $screen-xs) {
			margin: 0 auto;
			width: 100%;
			padding: 0 2em;
		}
		
		.baloon {
			position: absolute;
			right: -140px;
			top: -10px;
			background-color: #4caf50	;
			padding: 1.1em;
			@include border-radius(100px);
			min-height: 130px;

			h3 {
				font-size: 2em;
				font-weight: 300;
				margin: 0;
				padding: 0;
				color: $color-white;
			}
			
			img {
				position: absolute;
				left: 2px;
				bottom: 2px;
			}
		}


		.logo {

			img {
				max-width: 100%;
			}
		}

		.title {
			text-align: center;
			padding: 1em 1.5em;
			background-color: #3e4766;
			border-bottom: 1px solid rgba(255,255,255,.05);

			h1 {
				font-size: 1.5em;
				margin: 0;
				padding: 0;
				color: #fff;
			}
		}

		.form-container {
			margin-top: 2em;
			padding: 0 .5em;

			.form-group {
				margin-bottom: 5px;
				label {
					&.control-label {
						text-align: left;
						text-transform: uppercase;
						color: #fff;
					}
				}

				input {
					border: 1px solid #fff;
					background-color: #fff;
					padding: .5em;
					color: $color-purple;
				}

				button {
					margin-top: .5em;
					&.btn {
						@include border-radius(20px);
						padding: .5em 2em;
						display: block;
						width: 100%;
					}
				}
			}

			.footer {
				margin-top: 1em;
				p {
					margin-bottom: 0;
					color: #b4b4b4;
					a {
						color: $color-white;
					}
				}
			}
		}
	}
}
header.login-page-header {

	.logo {
		text-align: center;
	}
}

.about-page {
	.intro {
		background: #E9EAF4 url(../../images/about-bg.jpg) center center fixed !important;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		padding: 6em 0;
		text-align: center;
		
		.element {
			h1 {
				color: $color-white;
				font-size: 3.5em;
				margin-top: 0;
				margin-bottom: .5em;
			}

			p {
				color: $color-white;
				font-size: 1.3em;
			}

			.btn {
				padding: 1.0em 2em;
				height: 3.8em;
				background: rgba(255,255,255,0);
				border: 1px solid #fff;
				position: relative;

				img {
					opacity: 0;
					position: absolute;
					left: 40%;
					bottom: 0;
					width: 2em;
					
					-o-transition:.3s;
					-ms-transition:.3s;
					-moz-transition:.3s;
					-webkit-transition:.3s;
					transition:.3s;
				}


				&:hover {
					height: 5em;
					background-color: #3B4462;
					border: 1px solid #565f88;

					img {
						opacity: 1;

					}
				}
			}
		}
	}

	.reverse-phone-search {
		padding: 4em 0;
		text-align: center;

		h2 {
			text-align: center;
			font-size: 2.5em;
		}

		p {
			font-size: 1.3em;
		}
	}

	.expect {
		padding: 6em 0;
		text-align: center;
		background: #E9EAF4 url(../../images/expect-bg.jpg) top center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		h2 {
			text-align: center;
			font-size: 2.5em;
			color: $color-white;
			margin-bottom: 1em;
		}

		.element {
			background-color: rgba(0,0,0,.4);
			@include border-radius(5px);
			border: 1px solid rgba(255,255,255,.1);
			padding: 1em;
			height: 200px;
			overflow: hidden;

			-o-transition:.3s;
			-ms-transition:.3s;
			-moz-transition:.3s;
			-webkit-transition:.3s;
			transition:.3s;


			img {
				width: 8em;
				opacity: 1;
				border: 1px solid rgba(255,255,255,.05);
				padding: 1em;
				-o-transition:.3s;
				-ms-transition:.3s;
				-moz-transition:.3s;
				-webkit-transition:.3s;
				transition:.3s;
			}

			h3 {
				color: $color-white;
				font-weight: 400;
				font-size: 1.5em;

				-o-transition:.3s;
				-ms-transition:.3s;
				-moz-transition:.3s;
				-webkit-transition:.3s;
				transition:.3s;
			}

			p {
				opacity: 0;
				color: $color-white;
				-o-transition:.3s;
				-ms-transition:.3s;
				-moz-transition:.3s;
				-webkit-transition:.3s;
				transition:.3s;
			}

			&:hover {
				background-color: rgba(0,0,0,.6);

				img {
					width: 0em;
					opacity: 0;
				}

				h3 {
					margin-top: 0;
				}

				p {
					opacity: 1;
				}
			}
		}
	}
}

.logout-page {
	background: #E9EAF4 url(../../images/logout-bg.jpg) center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	
	.element-container {
		background-color: $color-light-grey;
		padding: 1em;
		margin: 1em 0;

		@media screen and (min-width: $screen-xs) {
			margin: 5em 0 5em 0;
			
		}

		.header {

			h1 {
				font-size: 2em;
				background-color: #fff;
				padding: .5em;
				margin: 0 0 .5em 0;
				color: $color-green-2;
			}

			p {
				margin: 0;
				font-size: 1.1em;
				color: #000;
				line-height: 1.4em;
			}
		}

		.form-container {
			.options {
				text-align: left;
			}
			
			.form-group {
				margin-bottom: 5px;

				::-webkit-input-placeholder {
					color: #303030;
				}

				:-moz-placeholder { /* Firefox 18- */
					color: #303030;
				}

				::-moz-placeholder {  /* Firefox 19+ */
					color: #303030;
				}

				:-ms-input-placeholder {
					color: #303030;
				}

				label {
					text-align: left;
					font-weight: 600;
				}

				input[type="text"], input[type="password"], input[type="email"] {
					background-color: #fff;
					border: 1px solid $color-light-grey-2;
					padding: 1.6em .7em;
					color: #000;
				}

				button.btn {
					margin-top: .5em;
					display: block;
					width: 100%;
					padding: 1em;
				}


				a {
					font-weight: 600;
					color: #505050;
					margin-top: .6em;
					display: block;
				}
			}
			
			.authorize {
				text-align: left;
			}
		}
	}
}

.forgot-password-page {
	.element-container {
		.header {
			h1 {
				color: $color-text;
			}

			p {
				text-align: left;
			}
		}

		h2 {
			font-size: 1.3em;
			text-align: left;
		}
	}
}

.loading-page {
	background: #E9EAF4 url(../../images/loader-bg.jpg) center top fixed !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	#circle-loading {
		width: 70%;
		display: block;
		margin: 0 auto;
		text-align: center;

		#counter-percentage-container {
			position: absolute;
			top: 30%;
			left: 30%;
			width: 100px;
			text-align: center;

			img {
				width: 5em;
				display: block;
				margin: 0 auto;
			}
		}

		p.percentage {
			font-size: 2em;
			color: #fff;
			margin-bottom: 0;
			text-align: center;
		}
	}

	.horizontal-loading {
		height: 11px;
	}
	.progress {
		height: 11px !important;
	}

	#googlemap {
		width: 100%;
		height: 700px;
		z-index: 999;
	}
	.modal-dialog {
		margin-top: 70px;

		@media screen and (min-width: $screen-md) {
			margin-top: 180px;
		}
	}

	.modal-content {
		background: none;
	}
	.modal-body {
		padding: 0;

		.element-container {
			position: relative;
			padding: 0;

			.header {
				text-align: center;
				padding: 1.3em .5em;
				background-color: rgba(38,48,82,.8);

				h1 {
					margin: 0;
					font-size: 2em;
					color: rgba(255,255,255,.9);

					span {
						color: #fff;
					}
				}
			}
			.body {
				background-color: rgba(255,255,255,.75);
				padding: 1.5em .5em;
				overflow: hidden;

				@media screen and (max-width: $screen-md) {
					height: auto;
				}

				.slider-element {
					padding: .5em;
					background-color: $color-light-grey;
					border: 1px solid $color-light-grey-2;


					h2 {
						margin: 0;
						font-size: 2.2em;

						i {
							color: $color-red;
						}

						&.success {
							color: $color-green;
							font-size: 2.3em;
							text-transform: uppercase;
						}
					}

					.img-container {
						display: inline-block;
						img {
							width: 1em;
							margin-top: -.3em;
						}
					}

					p {
						font-size: 1.3em;
						margin-top: .9em;
						color: #393939;
						line-height: 1.5em;
					}
				}
			}

			img.down {
				position: absolute;
				bottom: -1.5em;
				right: 50%;
				width: 3em;
			}
		}
	}

}

